// DEFAULT THEME
//--------------------------------------
$color-gris : #43434431;
$color-verde : #106613;


// ALL COLORS
//--------------------------------------


// COLORS BUTTONS
//--------------------------------------


// COLORS FORMULÁRIOS
//--------------------------------------



// TRANSITIONS AND TRANSFORM
//--------------------------------------

 // Layout

 $full : 100%;
 $max : 1200px;