// GERAL
//--------------------------------------
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    //Custom post type produtos//


    .contenedor-produtos {

        margin: 30px;
    


    .contenedor-secundario-produtos {

        display: flex;
        flex-direction: row;
        
        

                            
                            
        
                         a {
                            text-decoration: none;
                            margin: 20px;
                            width: 180px;
                            height: 180px;
                           

                                                img {
                                                    margin: 20px;
                                                    width: inherit;
                                                    height: inherit;
                                                    
                                                }

                                                p {
                                                    margin: inherit;
                                                    text-decoration: none;
                                                    color: red;
                                                    font-weight: bold;
                                                    width: 180px;
                                                    height: 180px;
                                                }
                         }


        }
    }
    .contenedor-fale {
        margin: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;    
                                
                                
                                .informacion-de-contacto {
                                
                                
                                    width: 300px;

                                                h2 {
                                                    font-size: 30px;
                                                }

                                                
                                
                                                        
                                }

                              
      
     }
    
     //Custom post type produtos//



    //Servicos inicio//

    .informacion-entrada {
        .informacion-entrada-explicacion {
            background-color: black;
        color: white;
        }
    }
    
    .ferramentas {
        display: flex;
        flex-direction: column;
    }
        .contenedor-titulo {

                    h2 {
                        background-color: red;
                        margin: 0px;
                        padding: 60px;
                        color: white;
                        font-size: 45px;
                    }
            
        }
        .calandra-de-perfil {
            display: flex;
            flex-direction: row;
            margin: 20px;
            padding: 20px;
            border: 20px;

                            .informacion-calandra {
                                margin: 20px;       
                                padding: 20px; 
                            }
        }            


        
        .chapas-contenedor {
            display: flex;
            flex-direction: row;
            margin: 20px;
            padding: 20px;
            border: 20px;

                            .chapas-informacion {
                                margin: 20px;       
                                padding: 20px; 
                            }
        }            

    .informacion-entrada-explicacion  {
        background-color: black;
        color: white;
    }
    
    .banner {
        max-width: $full;
                        img {
                            max-width: $full;
                            width: 100%;
                        }
    }
     
    
    //Servicos Final//
    .contenedor-orcamento {
        
        margin: 150px;
        
        .boton-orcamento {
            display: flex;
            flex-direction: row;
            
            

                    button:hover {
                        background-color: white;
                        color: green;
                        border-color: green;
                    }

                    button {
                        width: 750px;
                        font-size: 37px;
                        border-radius: 200px;
                        background-color: green;
                        color: white;
                        border-color: green;
                        padding-right: 40px;
                        height: 130px;
                        
                    }
        }
    }  
}
//TITULOS EN CONTENIDO
