// GERAL
//--------------------------------------
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    //Custom post type produtos//


    .contenedor-produtos {

        margin: 30px;
    


    .contenedor-secundario-produtos {

        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: 45px;
        margin-top: 45px;
        
        
                        div {

                                p {

                                    
                                    width: 268px;
                                         

                                     
                                }
                        }
                       
                            
        
                         a {
                            text-decoration: none;
                            margin: 20px;
                            width: 180px;
                            height: 180px;
                           

                                                img {
                                                    margin: 20px;
                                                    width: inherit;
                                                    height: inherit;
                                                    
                                                }

                                                p {
                                                    margin: inherit;
                                                    text-decoration: none;
                                                    color: red;
                                                    font-weight: bold;   
                                                    
                                                }
                         }
                     
        }
    }
    //Custom post type produtos//
    //Contenedor de formulario fale conosco//
    .contenedor-fale {
        margin: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;    
                                
                                
                                .informacion-de-contacto {
                                
                                
                                    width: 300px;

                                                h2 {
                                                    font-size: 30px;
                                                }

                                                
                                
                                                        
                                }

                              
      
     }
     //Contenedor de formulario fale conosco//
    
     



    //Servicos inicio//

    .informacion-entrada {
        .informacion-entrada-explicacion {
            background-color: black;
        color: white;
        }
    }
    
    .ferramentas {
        display: flex;
        flex-direction: column;
    }
        .contenedor-titulo {

                    h2 {
                        background-color: red;
                        margin: 0px;
                        padding: 60px;
                        color: white;
                        font-size: 45px;
                    }
            
        }
        .calandra-de-perfil {
            display: flex;
            flex-direction: row;
            margin: 20px;
            padding: 20px;
            border: 20px;

                            .informacion-calandra {
                                margin: 20px;       
                                padding: 20px; 
                            }
        }            


        
        .chapas-contenedor {
            display: flex;
            flex-direction: row;
            margin: 20px;
            padding: 20px;
            border: 20px;

                            .chapas-informacion {
                                margin: 20px;       
                                padding: 20px; 
                            }
        }            

    .informacion-entrada-explicacion  {
        background-color: black;
        color: white;
    }
    
    .banner {
        max-width: $full;
                        img {
                            max-width: $full;
                            width: 100%;
                        }
    }
     
    
    //Servicos Final//
    //Boton Orcamento//
    .contenedor-orcamento {
        
        margin: 150px;
        
        .boton-orcamento {
            display: flex;
            flex-direction: row;
            
            

                    button:hover {
                        background-color: white;
                        color: green;
                        border-color: green;
                    }

                    button {
                        width: 750px;
                        font-size: 37px;
                        border-radius: 200px;
                        background-color: green;
                        color: white;
                        border-color: green;
                        padding-right: 40px;
                        height: 130px;
                        
                    }
        }
    }  
    //Boton Orcamento//

    //Sub Pagina Posttype produtos//

    .titulo-produtos {

        background-color: red;
        padding: 20px;

                        p {
                            color: white;
                        }

                        h2 {
                            font-size: 40px;
                            margin: 0px;
                            color: white;
                        }
    }
   
    .contenedor-abaco {

                        .abaco-informacion-contenedor {

                            padding: 45px;
                            display: flex;
                            flex-direction: row;

                            
                                                    .abaco-imagenes {

                                                        .imagenes-referencia {

                                                                        img {
                                                                            height: 100px;
                                                                            width: 138.075px;
                                                                            
                                                                        }
                                                        }

                                                    }
                            
                                                    .abaco-informacion {


                                                            width: 547px;
                                                            height: 263.49px;

                                                        }
                        }
    }
  
           
   
}   
//TITULOS EN CONTENIDO
