// HEADER
//--------------------------------------


header {
    width: $full;
    background-color: $color-gris;
    display: flex;
    justify-content: center;
    height: 127px;

    

    div {
        width: $full;
        max-width: $max;
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        height: inherit;
        justify-content: center;
        justify-items: center;
        gap: 20px;
        
    } 
    .boton {
        border-radius: 20px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: black;
        color: white;
        font-weight: bold;
        border-style: none;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .boton:hover {
        background-color: red;
    }
    
    .menu-menu-primario-container {
        
        
    
      .menu {
        display: flex;
        flex-direction: row;
        list-style: none;
        
        a:hover {
            color: red;
        }

        a{
            text-decoration: none;
            color: black;
            margin: 30px;
            
            font-size: larger;
            
        }
       
    
        
       
       
        
    }
    
        }
        
  
}